# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node Modules
node_modules/

# Build Output
dist/

# TypeScript
*.tsbuildinfo

# Environment Variables
.env

# OS and Editor Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.idea/
.vscode/
*.code-workspace

# Dependency Caches
.npm/
.pnpm-debug.log

# Coverage Directory
coverage/

# Miscellaneous
*.bak
*.tmp